
$text-color: #febd11;
$background-color: #42464a;



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


li {
  list-style-type: none;
}

a,
a:focus,
a:active,
a:link,
a:visited,
a:hover {
  color: inherit;
  text-decoration: none;
}


.menu {
  background-color: #42464a;
  color: #febd11;
  display: grid;
  grid-template-columns: 30% 55% 15%;
  padding: 0.25em 1em;

  #logo {
    float: left;
    background-image: url(../images/cinerama-logo.png);
    background-repeat: no-repeat;
    height: 5em;
    width: 100%;
  }

  nav {
    justify-self: end;
    line-height: 5em;

    ul {
      margin: auto;
    }

    li{
      float: left;
      margin: 0 2em;
      text-transform: uppercase;
      cursor: pointer;

      a,
      a:focus,
      a:active,
      a:link,
      a:visited,
      a:hover {
        color: inherit;
        text-decoration: none;
      }
    }
  }

  #user-navigation {

    justify-self: end;
    line-height: 5em;
    margin-right: 2em;

    img {
      border-radius: 25px;
    }

    nav {
      //visibility: visible;
      position: absolute;
      top: 6.3em;
      background-color: #42464a;
      right: 2.1em;
      width: 14em;
      text-align: center;
      max-height: 999px;

      li {
        text-transform: capitalize;
        width: 100%;
        margin: 0;
        box-shadow: 0px 0px 1px #999999;

        &:hover {
          background-color: $text-color;
          color: $background-color;
        }

        a,
        a:focus,
        a:active,
        a:link,
        a:visited {
          margin-left: 1.25em;
          text-decoration: none;
        }

      }

      &:before {
        content: "";
        position: absolute;
        right: 28px;
        height: 0;
        width: 0;
        border-bottom: 8px solid #42464a;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        bottom: 15em;
      }

      &.ng-animate {
        transition: all ease 0.5s;
      }

      &.ng-enter {
        opacity: 0;
      }

      &.ng-leave,
      &.ng-enter.ng-enter-active {
        opacity: 1;
      }

      &.ng-leave.ng-leave-active {
        opacity: 0;
      }

    }

  }
}

.wrapper-carousel {

  background-color: #cbcbcb;
  margin: 4em 0em;

  .movies-carousel {
    max-width: 90%;
    padding: 2em 4em;
    overflow: hidden;
    height: 25em;
    margin: auto;

    .slide {
      opacity: 1;
      width: 50000px;
      transform: translate3d(-357px, 0px, 0px);
      transition: transform ease-out 0.5s;


      section {
        display: inline-block;
        text-align: center;
        margin: 1em 3em;
        box-shadow: 5px 5px 8px rgb(120, 115, 109);

        img {
          max-height: 12em;
          min-height: 18em;
          max-width: 13em;
          min-width: 12em;
        }

      }

    }

    i{
      font-size: 6em;
      position: absolute;
      top: 3.2em;
      z-index: 1;
      color: #42464a;
      font-weight: 900;
    }

    #carousel-left {
      left: .25em;
    }

    #carousel-right {
      right: .25em;
    }

  }

}