@media screen and (max-width: 42.5em) {
  .menu {
    position: sticky;
    width: 100%;
    grid-template-columns: 54% 30% 10%;
    z-index: 1;
    top: 0; }
    .menu #menu-btn {
      display: block;
      background-color: transparent;
      border: none;
      outline: none;
      font-size: 3em; }
    .menu .show-nav-mobile {
      -webkit-transform: translateX(0%);
      transform: translateX(0%); }
    .menu nav {
      position: fixed;
      right: 0;
      text-align: center;
      top: 5.5em;
      background: #42464a;
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      z-index: 1;
      width: 100%;
      -webkit-transition: all ease 0.1s;
      -moz-transition: all ease 0.1s;
      transition: all ease 0.1s; }
      .menu nav ul li {
        position: relative;
        float: none;
        border-bottom: 1px solid #bcbcbc; }
    .menu #user-navigation nav {
      right: 44.5%;
      -webkit-transition: all ease 0.1s;
      -moz-transition: all ease 0.1s;
      transition: all ease 0.1s; }

  .footer-movie {
    display: inherit;
    padding: 0 7%;
    text-align: center; }
    .footer-movie section {
      margin: 0;
      padding: 1em; }
    .footer-movie .company-details, .footer-movie .company-menu, .footer-movie section h3 {
      display: none; }
    .footer-movie .company-social ul li {
      float: none;
      display: inline-block; }
    .footer-movie p {
      padding: 1em;
      margin: 0; }

  .header-main-page {
    padding: 3em; }
    .header-main-page h1 {
      font-size: 2em; }
    .header-main-page h2 {
      font-size: 1em; }

  .moviesPage .movie-list-wrapper .movie-list {
    margin: 1.5em;
    width: 10em; }

  .moviePage .movie-review section {
    float: none;
    width: 100%;
    margin: 0; }

  .wrapper-user-movie-review {
    padding: 3em 0; }

  .moviePage {
    padding: .5em; }

  .summery-order, .cafeteria {
    padding: 1em 0em; }

  .cafeteria div {
    width: 10em; }

  .summery-order .cafeteria-details-order div {
    width: 10em; }

  .contact-us {
    padding: 0; }
    .contact-us form, .contact-us .address-about {
      float: none;
      margin: 0 auto 4em;
      width: 90%; }
      .contact-us form button, .contact-us .address-about button {
        margin: auto;
        display: block;
        width: 18em; }
    .contact-us p {
      display: inline-block;
      width: 45%; }

  .wrapper-user-movie-review .user-movie-review div {
    margin: 1.5em auto; }

  .moviePage .movie-data {
    grid-template-columns: 0;
    padding: .5em; }
    .moviePage .movie-data h2 {
      font-size: 22px;
      margin: 0; }
    .moviePage .movie-data p {
      margin: 3em auto; }
    .moviePage .movie-data img {
      display: none; }
    .moviePage .movie-data .movie-data-general {
      margin: 0;
      padding-bottom: 2em; }
    .moviePage .movie-data .imdb-rating {
      top: 0; }
      .moviePage .movie-data .imdb-rating .c100 {
        font-size: 5em;
        top: .25em; } }
@media screen and (min-width: 42.5em) and (max-width: 65em) {
  .header-main-page {
    padding: 6em; }
    .header-main-page h1 {
      font-size: 4em; }
    .header-main-page h2 {
      font-size: 2em; }

  .moviePage .movie-data {
    grid-template-columns: 0; }
    .moviePage .movie-data img {
      display: none; } }

/*# sourceMappingURL=style.mobile.css.map */
