

$primary-color: #febd11;
$secondary-color: #42464a;
$tertiary: #bcbcbc;


@mixin translateX($position) {
    -webkit-transform: translateX($position);
    transform: translateX($position);
}

@mixin transition($property, $duration, $timing-function) {
    -webkit-transition: $property $duration $timing-function;
    -moz-transition: $property $duration $timing-function;
    transition: $property $duration $timing-function;
}


@media screen and (max-width: 42.5em) {

    .menu {
        position: sticky;
        width: 100%;
        grid-template-columns: 54% 30% 10%;
        z-index: 1;
        top: 0;

        #menu-btn {
            display: block;
            background-color: transparent;
            border: none;
            outline: none;
            font-size: 3em;
        }

        .show-nav-mobile {
            //-webkit-transform: translateX(0%);
            //transform: translateX(0%);
            @include translateX(0%);
        }

        nav {
            position: fixed;
            right: 0;
            text-align: center;
            top: 5.5em;
            background: $secondary-color;
            //-webkit-transform: translateX(100%);
            //transform: translateX(100%);
            @include translateX(100%);
            z-index: 1;
            width: 100%;
            //transition: all 0.1s;
            @include transition(all, ease, 0.1s);

            ul {
                li {
                    position: relative;
                    float: none;
                    border-bottom: 1px solid $tertiary;
                }
            }
        }

        #user-navigation {

            nav {
                right: 44.5%;
                //transition: all 0.1s;
                @include transition(all, ease, 0.1s);
            }
        }
    }




    .footer-movie {
        display: inherit;
        padding: 0 7%;
        text-align: center;

        section {
            margin: 0;
            padding: 1em;
        }

        .company-details, .company-menu , section h3 {
            display: none;
        }

        .company-social {

            ul {

                li {
                    float: none;
                    display: inline-block;
                }
            }
        }

        p {
            padding: 1em;
            margin: 0;
        }


    }


    .header-main-page {
        padding: 3em;

        h1 {
            font-size: 2em;
        }

        h2 {
            font-size: 1em;
        }
    }


    .moviesPage {

        .movie-list-wrapper{
            .movie-list {
                margin: 1.5em;
                width: 10em;
            }
        }
    }

    .moviePage {

        .movie-review {

            section {
                float : none;
                width: 100%;
                margin: 0;
            }
        }
    }

    .wrapper-user-movie-review {
        padding: 3em 0;
    }

    .moviePage {
        padding: .5em;
    }

    .summery-order, .cafeteria {
        padding: 1em 0em;
    }

    .cafeteria {
        div {
            width: 10em;
        }
    }


    .summery-order {
        .cafeteria-details-order {

            div {
                width: 10em;
            }
        }
    }

    .contact-us {
        padding: 0;

        form, .address-about {
            float: none;
            margin: 0 auto 4em;
            width: 90%;

            button {
                margin: auto;
                display: block;
                width: 18em;
            }
        }

        p {
            display: inline-block;
            width: 45%;
        }
    }


    .wrapper-user-movie-review {
        .user-movie-review {
            div {
                margin: 1.5em auto;
            }
        }
    }

    .moviePage {
        .movie-data {

            grid-template-columns: 0;
            padding: .5em;

            h2 {
                font-size: 22px;
                margin: 0;
            }

            p {
                margin: 3em auto;
            }

            img {
                display: none;
            }

            .movie-data-general {
                margin: 0;
                padding-bottom: 2em;
            }

            .imdb-rating {
                top: 0;

                .c100 {
                    font-size: 5em;
                    top: .25em;
                }
            }
        }
    }

}



@media screen and (min-width: 42.5em) and (max-width: 65em ) {

    .header-main-page {
        padding: 6em;

        h1 {
            font-size: 4em;
        }

        h2 {
            font-size: 2em;
        }
    }

    .moviePage {
        .movie-data {

            grid-template-columns: 0;

            img {
                display: none;
            }
        }
    }
}



