* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

li {
  list-style-type: none; }

a,
a:focus,
a:active,
a:link,
a:visited,
a:hover {
  color: inherit;
  text-decoration: none; }

.menu {
  background-color: #42464a;
  color: #febd11;
  display: grid;
  grid-template-columns: 30% 55% 15%;
  padding: 0.25em 1em; }
  .menu #logo {
    float: left;
    background-image: url(../images/cinerama-logo.png);
    background-repeat: no-repeat;
    height: 5em;
    width: 100%; }
  .menu nav {
    justify-self: end;
    line-height: 5em; }
    .menu nav ul {
      margin: auto; }
    .menu nav li {
      float: left;
      margin: 0 2em;
      text-transform: uppercase;
      cursor: pointer; }
      .menu nav li a,
      .menu nav li a:focus,
      .menu nav li a:active,
      .menu nav li a:link,
      .menu nav li a:visited,
      .menu nav li a:hover {
        color: inherit;
        text-decoration: none; }
  .menu #user-navigation {
    justify-self: end;
    line-height: 5em;
    margin-right: 2em; }
    .menu #user-navigation img {
      border-radius: 25px; }
    .menu #user-navigation nav {
      position: absolute;
      top: 6.3em;
      background-color: #42464a;
      right: 2.1em;
      width: 14em;
      text-align: center;
      max-height: 999px;
      z-index: 1; }
      .menu #user-navigation nav li {
        text-transform: capitalize;
        width: 100%;
        margin: 0;
        box-shadow: 0px 0px 1px #999999; }
        .menu #user-navigation nav li:hover {
          background-color: #febd11;
          color: #42464a; }
        .menu #user-navigation nav li a,
        .menu #user-navigation nav li a:focus,
        .menu #user-navigation nav li a:active,
        .menu #user-navigation nav li a:link,
        .menu #user-navigation nav li a:visited {
          margin-left: 1.25em;
          text-decoration: none; }
      .menu #user-navigation nav:before {
        content: "";
        position: absolute;
        right: 28px;
        height: 0;
        width: 0;
        border-bottom: 8px solid #42464a;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        bottom: 15em; }
      .menu #user-navigation nav.ng-animate {
        transition: all ease 0.5s; }
      .menu #user-navigation nav.ng-enter {
        opacity: 0; }
      .menu #user-navigation nav.ng-leave, .menu #user-navigation nav.ng-enter.ng-enter-active {
        opacity: 1; }
      .menu #user-navigation nav.ng-leave.ng-leave-active {
        opacity: 0; }

.wrapper-carousel {
  background-color: #cbcbcb;
  margin: 4em 0em; }
  .wrapper-carousel .movies-carousel {
    max-width: 90%;
    padding: 2em 0em;
    margin: auto; }
    .wrapper-carousel .movies-carousel .slide section {
      margin: 1em 3em;
      box-shadow: 10px 9px 20px #78736d;
      cursor: pointer; }
      .wrapper-carousel .movies-carousel .slide section img {
        height: auto;
        max-width: 100%; }

.footer-movie {
  background-color: #42464a;
  color: #febd11;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 25em 5em;
  border-top: 1px solid #cbcbcb;
  box-shadow: 0px -1px 0px #000;
  padding: 0 7%;
  text-align: left; }
  .footer-movie a,
  .footer-movie a:focus,
  .footer-movie a:active,
  .footer-movie a:link,
  .footer-movie a:visited,
  .footer-movie a:hover {
    color: inherit;
    text-decoration: none; }
  .footer-movie section {
    padding: 2em 0;
    margin-bottom: 2em; }
    .footer-movie section h3 {
      margin-bottom: 1em;
      text-transform: capitalize; }
  .footer-movie .company-details {
    justify-self: center; }
    .footer-movie .company-details li {
      margin-bottom: 1.5em;
      display: grid;
      grid-template-columns: 1fr 3fr; }
      .footer-movie .company-details li span {
        text-align: left; }
      .footer-movie .company-details li:nth-child(n+3) span:nth-child(2) {
        grid-area: 3/2/4/3; }
      .footer-movie .company-details li:nth-child(n+3) span:nth-child(3) {
        grid-area: 2/2/3/3; }
  .footer-movie .company-menu {
    justify-self: center; }
    .footer-movie .company-menu li {
      margin-bottom: 1.5em;
      text-transform: capitalize; }
  .footer-movie .company-social {
    justify-self: center; }
    .footer-movie .company-social li {
      float: left;
      margin-right: .5em;
      border: 1px solid;
      border-radius: 20px;
      padding: .5em;
      width: 2.5em;
      text-align: center;
      transition: all .4s; }
      .footer-movie .company-social li:hover {
        background-color: #febd11;
        color: #42464a; }
  .footer-movie p {
    justify-self: center;
    grid-column: 1/4;
    padding: 2em 0 0;
    border-top: 1px solid #cbcbcb;
    width: 100%;
    text-align: center;
    box-shadow: 0px -1px 0px #000; }

.moviesPage {
  margin: 0 auto;
  width: 100%;
  background-color: #d2d2d2;
  padding: 3em 0em; }
  .moviesPage h1, .moviesPage h2 {
    text-align: center;
    text-transform: uppercase;
    color: #42464a;
    margin-bottom: 1.5em; }
  .moviesPage form {
    margin: 0 auto;
    text-align: center;
    padding: 2em 0;
    background-color: #42464a;
    color: #febd11; }
    .moviesPage form input,
    .moviesPage form select {
      margin: .5em 1em;
      padding: 0.25em 1em;
      width: 20em;
      height: 3em;
      background-color: #42464a;
      border: .1em solid;
      transition: all .8s;
      text-transform: capitalize; }
      .moviesPage form input::placeholder,
      .moviesPage form select::placeholder {
        color: #febd11;
        text-transform: capitalize; }
    .moviesPage form input:focus,
    .moviesPage form input:active,
    .moviesPage form input[placeholder]:focus {
      transition: all .8s;
      background-color: #febd11;
      color: #42464a;
      outline: none;
      border: 0.1em solid #42464a; }
      .moviesPage form input:focus::placeholder,
      .moviesPage form input:active::placeholder,
      .moviesPage form input[placeholder]:focus::placeholder {
        color: #42464a; }
  .moviesPage .movie-list-wrapper .movie-list {
    position: relative;
    display: inline-block;
    width: 14em;
    margin: 2em;
    box-shadow: 4px 4px 20px;
    padding: 0.2em 0.2em 0;
    background-color: #e2e2e2;
    cursor: pointer;
    transition: all ease 0.5s; }
    .moviesPage .movie-list-wrapper .movie-list img {
      width: 100%;
      height: auto; }
    .moviesPage .movie-list-wrapper .movie-list .movie-details {
      position: absolute;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.8);
      color: #febd11;
      width: 100%;
      left: 0;
      right: 0;
      text-align: center;
      overflow: hidden;
      height: 0;
      transition: all .4s; }
      .moviesPage .movie-list-wrapper .movie-list .movie-details p i {
        font-size: 35px;
        margin-right: .25em; }
      .moviesPage .movie-list-wrapper .movie-list .movie-details p span {
        bottom: 6px;
        position: relative; }
  .moviesPage .movie-list-wrapper .movie-list:hover .movie-details {
    background-color: rgba(0, 0, 0, 0.8);
    height: 10em;
    padding: .5em; }

.about {
  background-color: #e2e2e2;
  color: #42464a;
  padding: 1em 10% 10em;
  height: 35em; }
  .about h1 {
    text-align: center;
    margin: 1em 0;
    text-transform: uppercase; }

.contact-us {
  background-color: #e2e2e2;
  padding: 1em 10% 10em;
  overflow: auto; }
  .contact-us h1 {
    text-align: center;
    margin: 1em;
    text-transform: uppercase; }
  .contact-us form {
    float: left;
    margin: 0 5%;
    width: 40%; }
    .contact-us form input, .contact-us form textarea {
      display: block;
      margin: 0 0 1em;
      padding: .5em;
      width: 100%; }
    .contact-us form textarea {
      height: 10em; }
    .contact-us form button,
    .contact-us form button:focus,
    .contact-us form button:active {
      width: 11em;
      background-color: #42464a;
      color: #febd11;
      border: none;
      padding: 0.7em 0;
      font-size: 15px;
      outline: none;
      background: -webkit-linear-gradient(#908b8b 15%, #42464a 70%, #464444 15%);
      /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(#908b8b 15%, #42464a 70%, #464444 15%);
      /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(#908b8b 15%, #42464a 70%, #464444 15%);
      /* For Firefox 3.6 to 15 */
      background: linear-gradient(#908b8b 15%, #42464a 70%, #464444 15%);
      /* Standard syntax */ }
  .contact-us .address-about {
    float: left;
    margin: 0 5%;
    width: 40%; }
    .contact-us .address-about p span:nth-child(3), .contact-us .address-about p span:nth-child(4) {
      display: block; }
    .contact-us .address-about i {
      margin-right: .5em; }

.moviePage {
  margin: auto;
  padding: 5em;
  background-color: #cbcbcb; }
  .moviePage .movie-data {
    display: grid;
    grid-template-columns: 11em 8fr 3fr 2fr;
    grid-auto-rows: 8em;
    margin: 3em 0;
    border-bottom: 1px solid #42464a;
    padding: 0 0 3em; }
    .moviePage .movie-data img {
      grid-area: 1/1/3/2;
      width: 100%;
      height: auto; }
    .moviePage .movie-data h2 {
      grid-area: 1/2/1/5;
      margin: 0 0.5em; }
    .moviePage .movie-data p {
      grid-area: 1/2/1/5;
      margin: 3.5em 1.5em;
      font-size: .9em; }
    .moviePage .movie-data .movie-data-general {
      grid-area: 2/2/3/4;
      margin: .5em 1.5em;
      align-self: end; }
      .moviePage .movie-data .movie-data-general p {
        grid: none;
        margin: 0; }
        .moviePage .movie-data .movie-data-general p strong {
          margin-right: .5em;
          text-transform: capitalize; }
    .moviePage .movie-data .imdb-rating {
      grid-area: 2/3/3/4;
      justify-self: end; }
  .moviePage .movie-review {
    border-bottom: 1px solid #42464a;
    overflow: auto; }
    .moviePage .movie-review h2, .moviePage .movie-review h4 {
      text-align: center; }
    .moviePage .movie-review h4 {
      margin: 2em 0; }
    .moviePage .movie-review section {
      float: left;
      width: 40%;
      margin: 2em 3em; }
      .moviePage .movie-review section strong, .moviePage .movie-review section span {
        text-transform: capitalize; }

.progress-bar-review {
  height: .3em;
  margin-bottom: 20px;
  background-color: #b3b3b3;
  overflow: hidden;
  border-radius: 5px; }
  .progress-bar-review .progress-bar-rating {
    height: 100%;
    background-color: #ffd100;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease; }

/*# sourceMappingURL=style.css.map */
