

<menu show-user-nav ></menu>

<section class="contact-us">

    <h1>contact us</h1>
    <form action="">
        <input type="text" placeholder="name">
        <input type="email" placeholder="your email address">
        <textarea rows="4" cols="50" placeholder="message"></textarea>
        <button type="submit">submit</button>
    </form>
    <section class="address-about">
        <p><i class="fa fa-map-marker"></i><span>United States,</span><span> New York City,</span><span> Manhattan</span></p>
        <p><i class="fa fa-map-marker"></i><span>Tel Aviv-Jaffa,</span><span> Menahem Begin Road,</span><span> Azrieli Center</span></p>
    </section>

</section>

<footer-movie></footer-movie>
