
<menu show-user-nav ></menu>

<section class="moviePage">

    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" ng-src={{movieTrailer}}></iframe>
    </div>

    <section class="movie-data">
        <img src="{{movie.poster}}" alt="movie.title">
        <h2>{{movie.title}}</h2>
        <p>{{movie.plot}}</p>
        <section class="movie-data-general">
            <p><strong>genres:</strong>{{movie.genres}}</p>
            <p><strong>actors:</strong>{{movie.actors}}</p>
            <p><strong>director:</strong>{{movie.director}}</p>
            <p><strong>country:</strong>{{movie.country}}</p>
            <!--<p><a href="{{movie.imdburl}}"><i class="fa fa-imdb"></i></a></p>-->
        </section>
        <section class="imdb-rating">
            <div class="c100 p{{movie.rating*10}}">
                <span>imdb<br>{{movie.rating}}</span>
                <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                </div>
            </div>
        </section>
    </section>

    <section class="movie-review">
        <h2>Audience review's</h2>
        <h4 ng-hide="getTotalReview()">No reviews have added yet for the movie {{movie.title}}</h4>
        <section  ng-show="getTotalReview()">
            <h4>recently review</h4>
            <p><strong>name: </strong>{{lastCommentReview.name}}</p>
            <p><strong>review: </strong>{{lastCommentReview.review}}</p>
            <p><strong>comment: </strong>{{lastCommentReview.comment}}</p>
        </section>

        <section  ng-show="getTotalReview()">
            <h4>total review</h4>
            <p><strong>total review: </strong>{{getTotalReview()}}</p>
            <strong>wow: {{movieReview[0].wow}}</strong>
            <div class="progress-bar-review">
                <div class="progress-bar-rating" ng-style="getReviewPercentage(movieReview[0].wow)"></div>
            </div>
            <strong>nice: {{movieReview[0].nice}}</strong>
            <div class="progress-bar-review">
                <div class="progress-bar-rating" ng-style="getReviewPercentage(movieReview[0].nice)"></div>
            </div>
            <strong>lame: {{movieReview[0].lame}}</strong>
            <div class="progress-bar-review">
                <div class="progress-bar-rating" ng-style="getReviewPercentage(movieReview[0].lame)"></div>
            </div>
            <strong>wtf: {{movieReview[0].wtf}}</strong>
            <div class="progress-bar-review">
                <div class="progress-bar-rating" ng-style="getReviewPercentage(movieReview[0].wtf)"></div>
            </div>
        </section>
    </section>


    <section class="movieOrder">
        <h2>movie order</h2>
        <form>
            <div>
                <label>movie theater</label>
                <select ng-change = "setCurrentMovie(currentBranch)"  ng-model='currentBranch' required ng-options="branch._id.cinema + ' ' +  branch._id.branch for branch in movieCineramaDetails"></select>
            </div>
            <div>
                <label>time</label>
                <button ng-click = "movieChooseByTime(CurrentBranch[$index]); itemClicked($index)" ng-repeat="timesMovie in CurrentBranch" ng-class="$index == selectedIndex ? 'timeChoose': 'nonTimeChoose' "> {{ CurrentBranch[$index]._id.time.substring(11,16)}} </button>
            </div>
            <div class = "auditorium" ng-show="movieChoose">
                <h3>pick your seats</h3>
                <label>
                    <input type="checkbox" ng-model="isChecked" ng-click = "setSeat(CurrentBranch[0]._id.seats[$index], isChecked)" ng-disabled="CurrentBranch[0]._id.seats[$index].occupied" class="seat" ng-repeat="seats in CurrentBranch[0]._id.seats">{{CurrentBranch[0]._id.seats[$index]}}
                </label>
            </div>
            <button id="buyBtn" ng-click="goToPaymentPage()" type="submit">Buy</button>
        </form>
        <p ng-hide="requireInput">*choose moview order not complete</p>
    </section>

</section>

<footer-movie></footer-movie>
