

<section class="company-details">
    <h3>contact cinerama</h3>
    <ul>
        <li><i class="fa fa-phone"></i><span>+000999999999</span></li>
        <li><i class="fa fa-envelope-o"></i><span>Cinerama@Cinerama.com</span></li>
        <li><i class="fa fa-map-marker"></i><span>United States,</span><span> New York City,</span><span> Manhattan</span></li>
        <li><i class="fa fa-map-marker"></i><span>Tel Aviv-Jaffa,</span><span> Menahem Begin Road,</span><span> Azrieli Center</span></li>
    </ul>
</section>
<section class="company-menu">
    <h3>menu</h3>
    <nav>
        <ul>
            <li><a href="/#/movies">movie</a></li>
            <li><a href="/#/about">about</a></li>
            <li><a href="/#/contactUs">contact us</a></li>
        </ul>
    </nav>
</section>
<section class="company-social">
    <h3>social media</h3>
    <ul>
        <li><a href=""><i class="fa fa-facebook"></i></a></li>
        <li><a href=""><i class="fa fa-twitter"></i></a></li>
        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
    </ul>
</section>

<p><i class="fa fa-copyright"></i>Uriel Chechique 2017</p>