

<article>
    <a href="#/main" id="logo"></a>
    <nav>
        <ul>
            <li><a href="#/main">home</a></li>
            <li><a href="/#/movies">movie</a></li>
            <li><a href="/#/about">about</a></li>
            <li><a href="/#/contactUs">contact us</a></li>
        </ul>
    </nav>
    <section id="user-navigation">
        <img src="{{userDetails.userPicture}}" title="{{userDetails.userName}}" ng-click="toggleUserNav()"/>
        <nav ng-if="showUserNav">
            <ul>
                <li><i class="fa fa-film"></i><a href="/#/userMovieOrder">my orders</a></li>
                <li><i class="fa fa-cog"></i><a href="">settings</a></li>
                <li ng-click="logOut()"><i class="fa fa-sign-out"></i><a href="">log out</a></li>
            </ul>
        </nav>
    </section>
    <button id="menu-btn" ng-click="toggleMainNav()"><i class="fa fa-bars"></i></button>
</article>
