


<section class="summery-order">

    <h2>order details</h2>

    <section class="movie-details-order">
        <h3>movie</h3>
        <p><strong>movie:</strong>{{orderDetails.movieOrder._id.name}}</p>
        <p><strong>cinema:</strong>{{orderDetails.movieOrder._id.cinema}}</p>
        <p><strong>branch:</strong>{{orderDetails.movieOrder._id.branch}}</p>
        <p><strong>auditorium:</strong>{{orderDetails.movieOrder._id.auditorium}}</p>
        <p><strong>date:</strong>{{orderDetails.movieOrder._id.time.substring(0,10)}}</p>
        <p><strong>time:</strong>{{orderDetails.movieOrder._id.time.substring(11,16)}}</p>
    </section>


    <section class="seats-details-order" >
        <h3>seats</h3>
        <p ng-repeat="seats in orderDetails.movieOrder.seats"><strong>row:</strong><span>{{seats.row}}</span><span><strong>number:</strong>{{seats.number}}</span></p>
    </section>


    <section class="cafeteria-details-order">
        <h3>cafeteria</h3>
        <p ng-show="orderDetails.cafeteria.length < 1">products have not selected</p>
        <div ng-repeat="product in orderDetails.cafeteria">
            <span><strong>{{product.quantity}}</strong></span>
            <img src="{{product.image}}" alt="{{product.name}}">
            <p><strong>name:</strong>{{product.name}}</p>
            <p><strong>size:</strong>{{product.size}}</p>
        </div>

        <h4>total price: {{orderDetails.totalPrice}} <i class="fa fa-eur"></i></h4>

    </section>



</section>


